@{
    ViewData["Title"] = "اتاق‌ها";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Search Section Start -->
<div id="search" style="background: #f2f2f2;">
    <div class="container">
        <div class="form-row">
            <div class="control-group col-md-3">
                <label>تاریخ ورود</label>
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" class="form-control persian-date-input" id="checkInDate" placeholder="روز / ماه / سال" readonly />

                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <label>تاریخ خروج</label>
                <div class="form-group">
                    <div class="input-group date">
                        <input type="text" class="form-control persian-date-input" id="checkOutDate" placeholder="روز / ماه / سال" readonly />

                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <div class="form-row">
                    <div class="control-group col-md-6">
                        <label>بزرگسال</label>
                        <select class="custom-select">
                            <option selected>۰</option>
                            <option value="1">۱</option>
                            <option value="2">۲</option>
                            <option value="3">۳</option>
                            <option value="4">۴</option>
                            <option value="5">۵</option>
                            <option value="6">۶</option>
                            <option value="7">۷</option>
                            <option value="8">۸</option>
                            <option value="9">۹</option>
                            <option value="10">۱۰</option>
                        </select>
                    </div>
                    <div class="control-group col-md-6 control-group-kid">
                        <label>کودک</label>
                        <select class="custom-select">
                            <option selected>۰</option>
                            <option value="1">۱</option>
                            <option value="2">۲</option>
                            <option value="3">۳</option>
                            <option value="4">۴</option>
                            <option value="5">۵</option>
                            <option value="6">۶</option>
                            <option value="7">۷</option>
                            <option value="8">۸</option>
                            <option value="9">۹</option>
                            <option value="10">۱۰</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="control-group col-md-3">
                <button class="btn btn-block">جستجو</button>
            </div>
        </div>
    </div>
</div>
<!-- Search Section End -->
<!-- Room Section Start -->
<div id="rooms">
    <div class="container">
        <div class="section-header">
            <h2>آپارتمان‌ها و سوئیت‌ها</h2>
            <p>
                اتاق‌های لوکس و مجهز هتل لافت سیتی با طراحی مدرن و چشم‌انداز زیبا، آرامش و آسایش را برای مهمانان عزیز فراهم می‌کند.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 room">
                <div class="row">
                    <div class="col-md-6">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-2.jpg")" alt="اتاق تک نفره استاندارد">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3>تک نفره استاندارد</h3>
                            <h1>۵,۸۵۰,۰۰۰ تومان<span>/شبی </span></h1>
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>اندازه: ۲۴ متر مربع </li>
                                <li><i class="fa fa-arrow-right"></i>تخت: ۱ تخت دو نفره </li>
                            </ul>
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                            <div class="room-link">
                                <a href="#" data-toggle="modal" data-target="#modal-id">بیشتر بخوانید</a>
                                <a href="#">رزرو کن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 room">
                <div class="row">
                    <div class="col-md-6 d-block d-md-none">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-1.jpg")" alt="اتاق دو نفره استاندارد">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3>دو نفره استاندارد</h3>
                            <h1>۷,۹۵۰,۰۰۰ تومان<span>/ شبی </span></h1>
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>اندازه: ۳۲ متر مربع </li>
                                <li><i class="fa fa-arrow-right"></i>تخت: ۲ تخت دو نفره </li>
                            </ul>
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                            <div class="room-link">
                                <a href="#" data-toggle="modal" data-target="#modal-id">بیشتر بخوانید</a>
                                <a href="#">رزرو کن</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-2.jpg")" alt="اتاق دو نفره استاندارد">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 room">
                <div class="row">
                    <div class="col-md-6">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-3.jpg")" alt="اتاق تک نفره لوکس">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3>تک نفره لوکس</h3>
                            <h1>۹,۸۵۰,۰۰۰ تومان<span>/  شبی</span></h1>
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>اندازه: ۳۵ متر مربع </li>
                                <li><i class="fa fa-arrow-right"></i>تخت: ۱ تخت  </li>
                            </ul>
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                            <div class="room-link">
                                <a href="#" data-toggle="modal" data-target="#modal-id">بیشتر بخوانید</a>
                                <a href="#">رزرو کن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 room">
                <div class="row">
                    <div class="col-md-6 d-block d-md-none">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-1.jpg")" alt="سوئیت ویژه">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3>سوئیت ویژه</h3>
                            <h1>۱۵,۵۰۰,۰۰۰ تومان<span>/ شبی</span></h1>
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>اندازه: ۵۰ متر مربع </li>
                                <li><i class="fa fa-arrow-right"></i>تخت: ۱ تخت + مبل تختخواب‌شو </li>
                            </ul>
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                            <div class="room-link">
                                <a href="#" data-toggle="modal" data-target="#modal-id">بیشتر بخوانید</a>
                                <a href="#">رزرو کن</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-1.jpg")" alt="سوئیت ویژه">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 room">
                <div class="row">
                    <div class="col-md-6">
                        <div class="room-img">
                            <img src="@Url.Content("~/img/about/about-2.jpg")" alt="سوئیت خانواده">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="room-des">
                            <h3>سوئیت خانواده</h3>
                            <h1>۱۸,۹۰۰,۰۰۰ تومان<span>/  شبی</span></h1>
                            <ul class="room-size">
                                <li><i class="fa fa-arrow-right"></i>اندازه: ۶۵ متر مربع </li>
                                <li><i class="fa fa-arrow-right"></i>تخت: ۲ تخت </li>
                            </ul>
                            <ul class="room-icon">
                                <li class="icon-1"></li>
                                <li class="icon-2"></li>
                                <li class="icon-3"></li>
                                <li class="icon-4"></li>
                                <li class="icon-5"></li>
                                <li class="icon-6"></li>
                                <li class="icon-7"></li>
                                <li class="icon-8"></li>
                                <li class="icon-9"></li>
                                <li class="icon-10"></li>
                            </ul>
                            <div class="room-link">
                                <a href="#" data-toggle="modal" data-target="#modal-id">بیشتر بخوانید</a>
                                <a href="#">رزرو کن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Section End -->
<!-- Modal for Room Section Start -->
<div id="modal-id" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content modal-content-custom">
            <div class="modal-header modal-header-custom">
                <h5 class="modal-title text-white" id="modalRoomTitle">اتاق لوکس</h5>
            </div>
            <div class="modal-body p-0">
                <div class="modal-image-container">
                    <img id="modalRoomImage" class="img-fluid modal-image" src="@Url.Content("~/img/about/about-1.jpg")" alt="اتاق لوکس">
                </div>

                <div class="modal-content-text">
                    <h2 class="modal-room-title" id="modalRoomName">اتاق لوکس با چشم‌انداز شهر</h2>
                    <p class="modal-room-description">
                        این اتاق‌ها با طراحی مدرن و مبلمان راحت، دارای تلویزیون صفحه تخت، مینی‌بار، صندوق امن و سرویس بهداشتی مجزا با دوش و وان هستند. پنجره‌های بزرگ رو به شهر، نور طبیعی فراوانی را به داخل اتاق می‌آورند و منظره بی‌نظیری از شهر را به مهمانان هدیه می‌دهند.
                    </p>
                    <div class="modal-room-footer">
                        <a href="#" class="btn-book">رزرو کن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Room Section End -->


<script>
    function showRoomModal(imageSrc, title, price) {
        document.getElementById('modalRoomImage').src = imageSrc;
        document.getElementById('modalRoomTitle').textContent = title;
        document.getElementById('modalRoomName').textContent = title + ' - ' + price;
        $('#modal-id').modal('show');
    }
</script>

